[SddmGreeterTheme]
Name=retrowave
Description=Retrowave theme for Chandler's rice
Author=Chandler
License=MIT
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=retrowave
Theme-API=2.0
